*{
    padding: 0px;
    margin: 0px;
}
.input{
  display: flex;justify-content: space-around;
}
.input input{
width: 47%;
padding: 11px 10px;
border: none;
background-color: rgba(128, 128, 128, 0.329);
border-radius: 4px;
outline: none;
}



.cards123{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.card123{
  width: 48%;
  display: flex;justify-content: space-between;
  background-color: rgba(128, 128, 128, 0.288);
  padding: 14px;
  border-radius: 12px;
  margin-bottom: 5px;
}

.buttonw{
display: flex;
justify-content: space-around;

}
.butw{
  background-color: rgba(128, 128, 128, 0.562);
  padding: 4px 10px;
  border-radius: 10px;
  width: 23%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card123 input{
  width: 30px;
  height: 30px;
  background-color: gray;
  color: gray;
  border-radius: 10px;
  content: "";
  display: inline-block;
  vertical-align: -25%;
  height: 2ex;
  width: 2ex;
  background-color: white;
  border: 1px solid rgb(166, 166, 166);
  border-radius: 4px;
  box-shadow: inset 0 2px 5px rgba(0,0,0,0.25);
  margin-right: 0.5em;
}
